.details{
    padding: 5.6vw;
    h2{
        font-size: 48px;
        margin-bottom: 40px;
        text-align: center;
    }
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 900px) {
            display: block;
        }
        &__elenco{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 16px;
            background-color: rgba(100, 100, 100, 0.5);
            padding: 2vw;
            border-radius: 8px;
            
        }
        &__personagem{
            height: max-content;
            img{
                width: 162px;
                height: 216px;
                border-radius: 8px;
                object-fit: cover;
            }
            p{
                font-size: 14px;
                color: gray;
            }
        }
        &__about{
            display: flex;
            flex-direction: column;
            
            padding: 0 2vw;
            p{
                margin-bottom: 16px;
                line-height: 25px;
                span>b{
                    color: red;
                    margin-bottom: 16px;
                    display: block;
                }
            }
            h3, h2{
                font-size: 24px;
                margin: 24px 0;
            }
        }
    }

}